body {
    background-image: url("assets/BG.png");
    color: white;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5em;
  max-width: 100%;
  margin: 0 auto;
}
@font-face {
    font-family: Lexend;
    src: url('assets/Lexend-VariableFont_wght.ttf');
}
#submit {
  background-color: black;
  color: white;
  padding: 20px;
  margin: 6px;
  border-radius: 100px;
  text-align: center;
}
h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

#why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}
#contentBox5 img {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 100px;
    height: 100px;
}
#contentBox1 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5em;
  width: 67%;
}
#contentBox1 h1 {
  color: black;
}
#subForm {
  background-color: transparent;
  border: solid 1px white;
  border-radius: 6px;
}
#contentBox1, #contentBox2, #contentBox3, #contentBox4 {
    background-image: url("assets/bgCard.png");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    font-size: large;
    line-height: 2.5em;
    border-radius: 4px;
    max-width: 80%;
}
.align {
    display: flex;
}

#bottomForm {
  align-self: center;
  color: white;
  background-color: transparent;
}

#bottomBar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 4em;
    padding: 2em;
    margin-top: 1em;
    width: 100%;
    position: static;
    bottom: 0;
}
#topBar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.0em;
    padding: 2em;
    margin-bottom: 1em;
    width: 100%;
    position: static;
    top: 0;
}
#contentBox5 {
    background-image: url("assets/cardBG.png");
    background-size: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    padding: 20px;
}
#contentBox5 h2 {
    position: absolute; /* Set the position of the h2 element to absolute */
    top: 0; /* Position it at the top of the container */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2px;
  }
  #contentBox6 {
    display: flex;
    align-items: center;
    margin-top: 4em;
  }
  
  .left-content {
    flex: 1;
    padding: 50px 20px; /* add horizontal padding */
  }
  
  .right-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .right-content h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 1em;
  }
  
  .right-content p {
    text-align: center;
    margin-bottom: 1em;
  }
  
  .right-content form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .right-content input[type="email"] {
    padding: 0.5em;
    border: none;
    border-radius: 0.25em;
    
    width: 100%;
    max-width: 20em;
  }
  
  .right-content button {
    background-color: #f26d21;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
  }
p:not(#why) {
    padding: 0;
    font-size: 1.2rem;
    text-align: justify;
    font-family: 'Lexend';
    margin-left: 2em;
    margin-right: 2em; /* add horizontal margin */
}
button {
  border-radius: 6px;
}
#bottomBar button {
  border-radius: 25px;
  padding: 3px;
  height: 4em;
  font-weight: bold;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    body {
      font-size: 16px;
    }
    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 1.5em;
      margin-bottom: 1em;
    }
    #contentBox1 {
      padding: 40px;
    }
   /* #contentBox2 .align {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }*/
    #contentBox2 .left-content {
      order: 1;
    }
    #contentBox2 img {
      order: 2;
      width: 80%;
      max-width: 300px;
    }
    #contentBox2 img, #contentBox3 img, #contentBox4 img {
      max-height: 20em;
    }
    #contentBox2, #contentBox3, #contentBox4 {
      line-height: 1.4em;
    }
    #contentBox5 {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    #contentBox5 img {
      width: 80%;
      max-width: 300px;
      height: auto;
      margin-bottom: 1em;
    }
    #contentBox5 h2 {
      position: static;
      font-size: 1.5em;
      margin-bottom: 1em;
    }
    #contentBox6 {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .right-content {
      margin-top: 2em;
      margin-bottom: 2em;
    }
    .right-content h2 {
      font-size: 1.5em;
      margin-bottom: 1em;
    }
    .right-content p {
      margin-bottom: 1em;
    }
    .right-content input[type="email"] {
      width: 80%;
      max-width: none;
    }
  }
